<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <add key="TestMessage" value="Test Message" />
    <add key="WarningMessage" value="Test Warning" />
    <add key="ErrorMessage" value="Test Error" />
    
    <add key="LogToFile" value="true" />
    <add key="LogToConsole" value="true" />

    <add key="LogFileDirectory" value="C:\TestModularisLog"/>
    
  </appSettings>
</configuration>